<div class="row" ng-init="Carros.listCarros()">
	<div class="col-md-12">
		<div class="row panel-search-list">
			<div class="col-md-6">
				<a href="#/novo" class="btn btn-success pull-left">Novo Carro</a>
			</div>	
			<div class="col-md-6 text-right">
				<form class="form-inline">
					<div class="form-group search-filter-content">
						<label>Filtrar por:</label>	
    					<label class="radio-inline">
  							<input type="radio" ng-model="Carro.optionSearch" value="Carro.marca"> Marca
						</label>
						<label class="radio-inline">
  							<input type="radio" ng-model="Carro.optionSearch" value="Carro.combustivel"> Combustível
						</label>
					</div>
					<div class="form-group search-filter-box">
						<div class="input-group text-right">
		      				<input type="text" class="form-control" placeholder="" ng-model="Carro.search">
		      				<span class="input-group-btn">
		        				<button class="btn btn-default" type= "button"><i class="fa fa-search" aria-hidden="true"></i></button>
		      				</span>
	    				</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th><input type="checkbox"></th>
					<th>Placa</th>
					<th>Modelo</th>
					<th>Marca</th>
					<th>Foto</th>
					<th>Combustível</th>
					<th class="text-right">Valor</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr dir-paginate="carro in Carros.list | orderBy: Carro.optionSearch | filter: Carro.search | itemsPerPage: 5">
					<td><input type="checkbox"></td>
					<td>{{ carro.placa }}</td>
					<td><img ng-show="carro.imagem" src="" alt="">
					{{ carro.modelo }}</td>
					<td>{{ carro.marca }}</td>
					<td>
						<span ng-if="carro.imagem">
							<a href="{{ carro.imagem }}" alt="{{carro.modelo}} - {{carro.marca}}" title="{{carro.modelo}} - {{carro.marca}}" target="_blank">imagem</a>
						</span>
						<span ng-if="!carro.imagem">Sem foto</span>
					</td>
					<td>{{ carro.combustivel }}</td>
					<td class="text-right">{{ carro.valor | currency:"" }}</td>
					<td class="actions">
						<span>
							<a href="#/editar/{{ carro.id}}" title="editar"><i class="fa fa-pencil" aria-hidden="true"></i></a>
						</span>
						<span class="remove" title="remover" ng-click="Carros.deleteCarro(carro.id)"><i class="fa fa-trash" aria-hidden="true"></i></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="col-md-12 text-center">
		<dir-pagination-controls></dir-pagination-controls>
	</div>
</div>